doctype html 
html(lang="es")

head    
title #{titulo}
link(rel="stylesheet" href="/css/estilos.css")

body
    h1 
        a(href="/") Bienvenido a la tienda
    div
        h2 No encontramos "#{textoError} en el sistema.
